#hero {
  grid-column: 2/ span 10;
  grid-row: 4/span 2;
  max-width: 100%;
  margin-top: 80px;
}

#projectyear {
  background-color: #05E27E;
  color: #000;
}

.description h3 {
  grid-column: 2/ span 6;
  grid-row: 6/span 1;
  min-width: 240px;
}


/*
█▀ █▀▀ █▀▀ ▀█▀ █ █▀█ █▄░█  audit
▄█ ██▄ █▄▄ ░█░ █ █▄█ █░▀█  ░█
*/

.section_audit {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto-fill, 144px);
  grid-gap: 16px;
  max-width: 1888px;
  min-width: 288px;
  margin: auto;
  margin-top: 120px;
}

#recharge_img1 {
  grid-column: 2/ span 10;
  grid-row: 1/span 2;
  max-width: 100%
}

#recharge_img1_desc {
  min-width: 200px;
  grid-column: 2/ span 5;
  grid-row: 3/ span 1;
}

#section_audit_title {
  grid-column: 5/ span 4;
  grid-row: 4/ span 1;
  align-self: end;
}

#section_audit_description {
  grid-column: 5/ span 4;
  grid-row: 5/ span 1;
}








.section_homescreen {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto-fill, 144px);
  grid-gap: 16px;
  max-width: 1888px;
  min-width: 288px;
  margin: auto;
  margin-top: 120px;
}

#recharge_img2 {
  grid-column: 2/ span 10;
  grid-row: 1/span 2;
  max-width: 100%
}


#recharge_img2_desc {
  min-width: 200px;
  grid-column: 2/ span 5;
  grid-row: 3/ span 1;
}

#recharge_img22_desc {
  min-width: 200px;
  grid-column: 5/ span 5;
  grid-row: 3/ span 1;
}

#section_homescreen_title {
  grid-column: 5/ span 4;
  grid-row: 4/ span 1;
  align-self: end;
}

#section_homescreen_description {
  grid-column: 5/ span 4;
  grid-row: 5/ span 1;
}






.section_reorder {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto-fill, 144px);
  grid-gap: 16px;
  max-width: 1888px;
  min-width: 288px;
  margin: auto;
  margin-top: 120px;
}

#recharge_img3 {
  grid-column: 2/ span 10;
  grid-row: 1/span 2;
  max-width: 100%
}

#section_reorder_title {
  grid-column: 5/ span 4;
  grid-row: 3/ span 1;
  margin-top: 24px;
}

#section_reorder_description {
  grid-column: 5/ span 4;
  grid-row: 4/ span 1;
}






.section_ratings {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto-fill, 144px);
  grid-gap: 16px;
  max-width: 1888px;
  min-width: 288px;
  margin: auto;
  margin-top: 120px;
}

#recharge_img4 {
  grid-column: 2/ span 10;
  grid-row: 1/span 2;
  max-width: 100%
}

#section_ratings_title {
  grid-column: 5/ span 4;
  grid-row: 3/ span 1;
  margin-top: 24px;
}

#section_ratings_description {
  grid-column: 5/ span 4;
  grid-row: 4/ span 1;
}



.section_thankyou {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto-fill, 144px);
  grid-gap: 16px;
  max-width: 1888px;
  min-width: 288px;
  margin: auto;
  margin-top: 120px;
}

#recharge_img7 {
  grid-column: 2/ span 10;
  grid-row: 1/span 2;
  max-width: 100%
}

#section_thankyou_title {
  grid-column: 5/ span 4;
  grid-row: 3/ span 1;
  margin-top: 24px;
}

#section_thankyou_description {
  grid-column: 5/ span 4;
  grid-row: 4/ span 1;
}







.section_marketing {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto-fill, 144px);
  grid-gap: 16px;
  max-width: 1888px;
  min-width: 288px;
  margin: auto;
  margin-top: 120px;
}

#recharge_img5 {
  grid-column: 2/ span 10;
  grid-row: 1/span 2;
  max-width: 100%
}

#section_marketing_title {
  grid-column: 5/ span 4;
  grid-row: 3/ span 1;
  margin-top: 24px;
}

#section_marketing_description {
  grid-column: 5/ span 4;
  grid-row: 4/ span 1;
}















/*
▀█▀ ▄▀█ █▄▄ █░░ █▀▀ ▀█▀
░█░ █▀█ █▄█ █▄▄ ██▄ ░█░
 */


@media only screen and (max-width: 1025px) {

  #hero {
    grid-column: 1/ span 12;
  }
  
  #recharge_img1 {
    grid-column: 1/ span 12;
  }
  
  #recharge_img1_desc {
    min-width: 200px;
    grid-column: 1/ span 12;
  }
  
  #section_audit_title {
    grid-column: 4/ span 6;
  }
  
  #section_audit_description {
    grid-column: 4/ span 6;
  }
  
  
  
  
  

  
  #recharge_img2 {
    grid-column: 1/ span 12;
  }
  
  
  #recharge_img2_desc {
    min-width: 200px;
    grid-column: 1/ span 4;
    grid-row: 3/ span 1;
  }
  
  #recharge_img22_desc {
    min-width: 200px;
    grid-column: 5/ span 5;
    grid-row: 3/ span 1;
    margin-left: -24px;
  }
  
  #section_homescreen_title {
    grid-column: 4/ span 6;
  }
  
  #section_homescreen_description {
    grid-column: 4/ span 6;
  }
  
  
  
  
  
  #recharge_img3 {
    grid-column: 1/ span 12;
  }
  
  #section_reorder_title {
    grid-column: 4/ span 6;
  }
  
  #section_reorder_description {
    grid-column: 4/ span 6;
  }
  
  
  
  
  
  
  #recharge_img4 {
    grid-column: 1/ span 12;
  }
  
  #section_ratings_title {
    grid-column: 4/ span 6;
    margin-top: 24px;
  }
  
  #section_ratings_description {
    grid-column: 4/ span 6;
  }
  
  
  
  #recharge_img7 {
    grid-column: 1/ span 12;
  }
  
  #section_thankyou_title {
    grid-column: 4/ span 6;
    margin-top: 24px;
  }
  
  #section_thankyou_description {
    grid-column: 4/ span 6;
  }
  
  
  
  
  #recharge_img5 {
    grid-column: 1/ span 12;
  }
  
  #section_marketing_title {
    grid-column: 4/ span 6;
    margin-top: 24px;
  }
  
  #section_marketing_description {
    grid-column: 4/ span 6;
  }
  

}



/*
█▀▄▀█ █▀█ █▄▄ █ █░░ █▀▀
█░▀░█ █▄█ █▄█ █ █▄▄ ██▄
*/

@media only screen and (max-width: 641px) {

  #section_audit_title {
    grid-column: 1/ span 12;
  }
  
  #section_audit_description {
    grid-column: 1/ span 12;
  }
  

  
  
  
  #recharge_img2_desc {
    visibility: hidden;
  }
  
  #recharge_img22_desc {
    visibility: hidden;
  }
  
  #section_homescreen_title {
    grid-column: 1/ span 12;
  }
  
  #section_homescreen_description {
    grid-column: 1/ span 12;
  }
  
  
  
  
  
  #section_reorder_title {
    grid-column: 1/ span 12;
  }
  
  #section_reorder_description {
    grid-column: 1/ span 12;
  }
  
  
  
  
  #section_ratings_title {
    grid-column: 1/ span 12;
  }
  
  #section_ratings_description {
    grid-column: 1/ span 12;
  }
  
  
  
  
  #section_thankyou_title {
    grid-column: 1/ span 12;
  }
  
  #section_thankyou_description {
    grid-column: 1/ span 12;
  }
  
  
  
  #section_marketing_title {
    grid-column: 1/ span 12;
  }
  
  #section_marketing_description {
    grid-column: 1/ span 12;
  }
  

  .footer_content #team {
    grid-column: 1/ span 12;
  }


  #sayhi, #email {
  display: none;
  }

  .square {
  display: none;
  }




}
