.description #hero {
  grid-column: 4/ span 6;
  grid-row: 3/span 2;
  max-width: 100%;
  margin-top: 56px;
}

#projectyear {
  background-color: #FFDF00;
  color: #000000;
}

.description #descriptionp3 {
  grid-column: 5/ span 4;
  grid-row: 8/span 1;
  color: #C6C6C6;
}







/*
▀█▀ ▄▀█ █▄▄ █░░ █▀▀ ▀█▀
░█░ █▀█ █▄█ █▄▄ ██▄ ░█░
 */

@media only screen and (max-width: 1025px) {
  .description h1 {
    color: #FFF;
  }

  .description #hero {
    grid-column: 3/ span 8;
    grid-row: 3/span 2;
    max-width: 100%;
    margin-top: 56px;
  }

  .description h3 {
    grid-column: 3/ span 8;
  }

  .description #descriptionp3 {
    grid-column: 4/ span 8;
  }

}



/*
█▀▄▀█ █▀█ █▄▄ █ █░░ █▀▀
█░▀░█ █▄█ █▄█ █ █▄▄ ██▄
*/

@media only screen and (max-width: 641px) {

  .description #hero {
    grid-column: 1/ span 12;
    grid-row: 3/span 2;
    max-width: 100%;
    margin-top: 56px;
  }

  .description h3 {
    grid-column: 1/ span 12;
  }

  .description #descriptionp3 {
    grid-column: 1/ span 12;
  }




  #sayhi, #email {
  display: none;
  }

  .square {
  display: none;
  }




}
