.description #hero {
  grid-column: 4/ span 6;
  grid-row: 3/span 2;
  max-width: 100%;
  margin-top: 56px;
}


#projectyear {
  background-color: #54B8E8;
  color: #FFF;
}

.description h3 {
  grid-column: 4/ span 6;
  grid-row: 5/span 1;
  min-width: 240px;
  margin-bottom: 40px;
}





/*
▀█▀ ▄▀█ █▄▄ █░░ █▀▀ ▀█▀
░█░ █▀█ █▄█ █▄▄ ██▄ ░█░
 */


@media only screen and (max-width: 1025px) {

  .description #hero {
    grid-column: 3/ span 8;
    grid-row: 3/span 2;
    max-width: 100%;
    margin-top: 56px;
  }

  .description h3 {
    grid-column: 3/ span 8;
  }


}



/*
█▀▄▀█ █▀█ █▄▄ █ █░░ █▀▀
█░▀░█ █▄█ █▄█ █ █▄▄ ██▄
*/

@media only screen and (max-width: 641px) {

  .description #hero {
    grid-column: 1/ span 12;
    grid-row: 3/span 2;
    max-width: 100%;
    margin-top: 56px;
  }

  .description h3 {
    grid-column: 1/ span 12;
  }




  #sayhi, #email {
  display: none;
  }

  .square {
  display: none;
  }




}
