* {
  box-sizing: border-box;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
  font-family: "neue-haas-grotesk-text", "Helvetica Neue", Helvetica, sans-serif;
  background: #fffefc;
  margin: 16px;
  -webkit-font-smoothing: antialiased;
  /* font-smoothing: antialiased; */
  font-smooth:antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  color: #000000;
  background: #EFEFEF;
}

/* ::-webkit-selection {
  color: #000000;
  background: #EFEFEF;
} */

* img {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
}

/* ::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #aaaaaa;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
} */


h1 {
  font-family: neue-haas-grotesk-display, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 32px;
  line-height: 1.08;
  font-weight: 500;
  font-style: normal;
}

h2 {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  font-style: normal;
}

h3 {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  /* margin-top: 16px; */
  color: #aaaaaa;
}

p {
  font-family: neue-haas-grotesk-display, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 22px;
  line-height: 1.1;
  font-weight: 400;
  font-style: normal;
}

/* b {
  font-weight: bold;
} */

a:link, a:visited {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  color: #ff6c32;
  /* text-decoration: underline; */
  /* cursor: crosshair */
}



menu {
 /* position: sticky; */
 position: relative;
 top: 16px;
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 48px;
 z-index: +10;
 /* margin: 16px; */
}

footer {
 position: relative;
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 bottom: 0;
}


/*
█▀▄ █▀▀ █▀ █▀▀ █▀█ █ █▀█ ▀█▀ █ █▀█ █▄░█
█▄▀ ██▄ ▄█ █▄▄ █▀▄ █ █▀▀ ░█░ █ █▄█ █░▀█ */

.description {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto-fill, 144px);
  grid-gap: 16px;
  /* margin-top: 32px; */
  max-width: 1888px;
  min-width: 288px;
  margin: auto;
}

.description #projectname {
  grid-column: 5/ span 4;
  grid-row: 1/span 1;
  /* margin-bottom: 16px; */
  color: #000000;
  text-indent: 0;
  align-self: end;
}

/* .description h1 {
  grid-column: 5/ span 4;
  grid-row: 2/span 1;
} */

#projectyear {
  grid-column: 5/ span 1;
  grid-row: 2/span 1;
  align-self: end;
  border-radius: 25px;
  padding: 3px 8px;
  width: 52px;
  height: 22px;
  text-align: center;
  user-select: none;
}

.description #hero{
  grid-column: 2/ span 10;
  grid-row: 3/span 2;
}

.description #descriptionp1 {
  grid-column: 5/ span 4;
  grid-row: 6/span 1;
}

.description #descriptionp2 {
  grid-column: 5/ span 4;
  grid-row: 7/span 1;
  /* margin-bottom: 120px; */
}







/*
█▀▀ █▀█ █▀█ ▀█▀ █▀▀ █▀█
█▀░ █▄█ █▄█ ░█░ ██▄ █▀▄
*/

.footer_content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto-fill, 144px);
  grid-gap: 16px;
  max-width: 1888px;
  min-width: 288px;
  margin: auto;
  margin-top: 80px;
}

/* #teamlist {
  grid-column: 1/ span 3;
  grid-row: 2/ span 1;
  margin-bottom: 340px;
  color: #aaaaaa;
} */

#team {
  grid-column: 6/ span 6;
  grid-row: 2/ span 1;
}

#sayhi {
  grid-column: 6/ span 2;
  grid-row: 3/ span 1;
  margin-bottom: -20px;
  z-index: +10;
}

#email {
  grid-column: 8/ span 2;
  grid-row: 3/ span 1;
  margin-bottom: -20px;
  font-weight: 400;
  z-index: +10;
}



/*
▀█▀ ▄▀█ █▄▄ █░░ █▀▀ ▀█▀
░█░ █▀█ █▄█ █▄▄ ██▄ ░█░
 */

@media only screen and (max-width: 1025px) {

  .description #projectname {
    grid-column: 4/ span 6;
  }

  .description h1 {
    grid-column: 4/ span 6;
  }

  .description #hero{
    grid-column: 1/ span 12;
  }

  .description #descriptionp1 {
    grid-column: 4/ span 6;
  }

  .description #descriptionp2 {
    grid-column: 4/ span 6;
  }

  .description #descriptionp3 {
    grid-column: 4/ span 6;
  }


  #projectyear {
    grid-column: 4/ span 6;
  }
}


/*
small▀█▀ ▄▀█ █▄▄ █░░ █▀▀ ▀█▀
small░█░ █▀█ █▄█ █▄▄ ██▄ ░█░
 */

@media only screen and (max-width: 911px) {

  h1 {
    font-size: 22px;
    line-height: 1.1;
    font-weight: 400;
    font-style: normal;
  }

  p {
    font-size: 18px;
    line-height: 1.16;
    font-weight: 400;
    font-style: normal;
  }
}


/*
█▀▄▀█ █▀█ █▄▄ █ █░░ █▀▀
█░▀░█ █▄█ █▄█ █ █▄▄ ██▄
*/

@media only screen and (max-width: 641px) { 


  h3, img {
    grid-column: 1/ span 12;
    text-align: left;
  }

  menu {
   margin-bottom: 16px;
  }


  .description #projectname {
    grid-column: 1/ span 12;
    /* grid-row: 1/span 1; */
    margin-bottom: 16px;
    align-self: end;
  }

  .description #hero{
    grid-column: 1/ span 12;
  }

  .description h1 {
    grid-column: 1/ span 12;
    /* grid-row: 2/span 1; */
  }

  .description #descriptionp1 {
    grid-column: 1/ span 12;
    /* grid-row: 3/span 1; */
  }

  .description #descriptionp2 {
    grid-column: 1/ span 12;
    /* grid-row: 4/span 1; */
  }

  .description #descriptionp3 {
    grid-column: 1/ span 12;
  }

  #projectyear {
    display: none;
  }

}
